## Terraform Files
**/.terraform.lock.hcl
**/.terraform
**/.gitignore
.gitignore
/.terraform.lock.hcl
*/*.terraform.lock.hcl
.idea
.DS_Store
.aws/credentials
jenkins*
.vagrant/
config
logfiles.tar.gz
*.log
*.tfstate
.browserslistrc
.travis.yml
.terraform.lock.hcl