/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body.single-tour360 {
  position: static !important;
  min-height: 100%;
}

.mv360tour-public {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  direction: ltr;
}

.mv360tour-hotspot {
  cursor: pointer;
  display: block;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  margin-left: -21px;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgba(0,0,0,0.3);
  background-color: #fff;
  box-sizing: border-box;
}

.mv360tour-hotspot::before {
  content: 'i';
  font-family: 'CircularStd-Black';
  font-size: 23px;
  color: #353535;
  text-align: center;
  display: block;
  line-height: 42px;
}

.mv360tour-hotspot.custom-scene-icon::before {
  content: ' ';
  background-image: url('../../includes/icons/arrow-up.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
}

.mv360tour-hotspot-icon.is-open {
  z-index: 99999;
}

.mv360tour-hotspot.is-open {
  border-color: #96C61A;
  border-width: 1.3px;
  border-style: solid;
  background-color: #0F6A6F;
  z-index: 99999;
}

.mv360tour-hotspot.is-open .lds-ripple {
  display: none;
}

.mv360tour-hotspot.is-open::before {
  color: #FFF;
}

.mv360tour-hotspot.custom-scene-icon.is-open::before {
  background-image: url('../../includes/icons/arrow-up-white.svg');
}

.mv360tour-hotspot-icon {
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.mv360tour-hotspot__click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mv360tour-hotspot__container {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 283px;
  width: 283px;
  padding: 20px;
  border-radius: 0;
  background-color: #fff;
  color: #fff;
  line-height: 1;
  font-size: 0;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity .4s ease-out, margin .4s ease-out;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.mv360tour-hotspot__container__remove {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  transform: rotate(45deg);
  z-index: 100;
}

.mv360tour-hotspot__container__remove__horizontal {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  height: 2px;
  width: 100%;
  background-color: #0F6A6F;
}

.mv360tour-hotspot__container__remove__vertical {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  height: 100%;
  width: 2px;
  background-color: #0F6A6F;
}

.mv360tour-hotspot__container--body .mv360tour-hotspot__container__text {
  max-height: none;
}

.mv360tour-hotspot__container--body.mv360tour-hotspot__container--img .mv360tour-hotspot__title {
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
  bottom: auto;
}

.mv360tour-hotspot__container--body.mv360tour-hotspot__container--img .mv360tour-hotspot__title span {
  background-color: transparent !important;
  padding: 0 0 15px;
}

.mv360tour-hotspot__container--body.mv360tour-hotspot__container::before {
  display: none;
}

.mv360tour-hotspot__container::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: inherit;
  transform: translateX(-50%);
  width: 50px;
  height: 10px;
  margin-top: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mv360tour-hotspot__container--body {
  display: block;
  bottom: auto;
  top: 0;
  left: 0;
  transform: none;
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  padding: 50px 20px 20px;
  border-radius: 0;
  margin-bottom: 0;
  opacity: 1;
  box-sizing: border-box;
  box-shadow: none;
  overflow: auto;
}

.mv360tour-hotspot__container--body::after {
  display: none;
}

.mv360tour-hotspot__container--body .mv360tour-hotspot__container__arrow-shadow,
.mv360tour-hotspot__container--body .mv360tour-hotspot__container__arrow {
  display: none;
}

.mv360tour-hotspot__container__arrow {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  color: inherit;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  z-index: 2;
}

.mv360tour-hotspot__container__arrow-shadow {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  color: inherit;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid rgba(0, 0, 0, .1);
  z-index: 1;
}

.is-front .mv360tour-hotspot__container {
  display: block;
}

.is-open .mv360tour-hotspot__container {
  margin-bottom: 20px;
  opacity: 1;
}

.mv360tour-hotspot__container--img img {
  max-width: 100%;
  display: block;
  width: auto;
  height: auto;
}

.mv360tour-hotspot__container__text {
  max-height: 50vh;
  overflow: auto;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.4;
  color: #000;
}

.mv360tour-hotspot__container__text img {
  max-width: 100%;
  height: auto;
}

.mv360tour-hotspot__container__text p {
  display: block;
  margin: 0 0 8px;
  text-align: center;
}

.mv360tour-hotspot__title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  font-family: 'CircularStd-Bold';
  font-size: 16px;
  font-weight: 700;
  color: #282828;
  text-align: center;
}

.mv360tour-hotspot__title span {
  display: block;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, .8);
}

.mv360tour-hotspot__title--scene,
.mv360tour-hotspot__title--text {
  position: relative;
  bottom: 0;
}

.mv360tour-hotspot__title--scene span,
.mv360tour-hotspot__title--text span {
  display: block;
  padding: 0 0 15px;
  background-color: transparent;
}

.mv360tour-hotspot__title--scene span {
  padding: 0;
}

.mv360tour-hotspot__container__video {
  position: relative;
  width: 100%;
}

.mv360tour-hotspot__container__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mv360tour-hotspot__container__video::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.mv360tour-hotspot__container--scene {
  width: auto;
  min-width: 200px;
}

.mv360tour-zoom-in::before {
  content: ' ';
  background-image: url('../../includes/icons/plus.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
}

.mv360tour-zoom-out::before {
  content: ' ';
  background-image: url('../../includes/icons/minus.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
}

.mv360tour-gyro,
.mv360tour-zoom-in,
.mv360tour-zoom-out,
.mv360tour-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 0.5px solid #9B9B9B;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  background-color: #FFF !important;
  color: #333 !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}

.mv360tour-gyro svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.mv360tour-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: inherit;
  display: block;
  font-size: 15px;
}

.mv360tour-arrow--top::before {
  content: ' ';
  background-image: url('../../includes/icons/arrow-up.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.mv360tour-arrow--bottom::before {
  content: ' ';
  background-image: url('../../includes/icons/arrow-down.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.mv360tour-arrow--left::before {
  content: ' ';
  background-image: url('../../includes/icons/arrow-left.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.mv360tour-arrow--right::before {
  content: ' ';
  background-image: url('../../includes/icons/arrow-right.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.mv360tour-fullscreen {
  position: absolute;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}

.mv360tour-fullscreen svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  fill: #fff;
  transform: translate(-50%, -50%);
}

.mv360tour-fullscreen .mv360tour-fullscreen--open {
  display: none;
}

.mv360tour-fullscreen.is-open .mv360tour-fullscreen--open {
  display: block;
}

.mv360tour-fullscreen.is-open .mv360tour-fullscreen--close {
  display: none;
}

.mv360tour-controls {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 35px;
  text-align: center;
}

.mv360tour-title-scene {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 45px;
  font-family: 'CircularStd-Bold';
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  background-color: #0F6A6F;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv360tour-menu-btn {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none !important;
  box-shadow: none !important;
}

.mv360tour-menu-btn-close {
  top: 25px;
  left: 36px;
  transform: none;
  z-index: 100;
}

.mv360tour-menu-btn,
.mv360tour-menu-btn:focus,
.mv360tour-menu-btn:hover,
.mv360tour-menu-btn:active {
  outline: none;
}

.mv360tour-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  opacity: 0;
  transition: all .4s;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #0F6A6F;
}

.mv360tour-menu.is-front {
  display: block;
}

.mv360tour-menu.is-open {
  opacity: 1;
}

.mv360tour-menu-wrapper {
  position: absolute;
  top: 0;
  transform: none;
  padding: 0 30px;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  text-align: center;
}

.mv360tour-menu-wrapper ul {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  list-style: none !important;
}

.mv360tour-menu-wrapper ul li {
  cursor: pointer;
  padding: 25px 0;
  margin: 0;
  position: relative;
  list-style: none;
  font-size: 22px;
  line-height: 28px;
  font-family: 'CircularStd-Bold';
  color: rgba(255,255,255,0.5);
}

.mv360tour-menu-wrapper ul li.vt-active {
  color: #FFF;
}


.mv360tour-menu-wrapper ul.slick-slider li {
  padding: 5px 10px;
}

.mv360tour-menu-wrapper ul.slick-slider div {
  position: relative;
}

.mv360tour-menu-wrapper ul.slick-slider span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
}

.mv360tour-menu-wrapper .slick-arrow {
  position: absolute;
  bottom: -60px;
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  left: 50%;
}

.mv360tour-menu-wrapper .slick-arrow::after,
.mv360tour-menu-wrapper .slick-arrow::before {
  color: inherit;
}

.mv360tour-menu-wrapper .slick-arrow:hover {
}

.mv360tour-menu-wrapper .slick-next::before {
  content: '';
  width: 15px;
  border-top: 1px solid;
  position: absolute;
  top: 15px;
  left: 15px;
  transform: rotate(45deg);
}

.mv360tour-menu-wrapper .slick-next::after {
  content: '';
  height: 15px;
  border-left: 1px solid;
  position: absolute;
  bottom: 7px;
  left: 22px;
  transform: rotate(45deg);
}

.mv360tour-menu-wrapper .slick-prev::before {
  content: '';
  width: 15px;
  border-top: 1px solid;
  position: absolute;
  top: 15px;
  left: 11px;
  transform: rotate(135deg);
}

.mv360tour-menu-wrapper .slick-prev::after {
  content: '';
  height: 15px;
  border-left: 1px solid;
  position: absolute;
  bottom: 7px;
  left: 18px;
  transform: rotate(135deg);
}

.mv360tour-menu-wrapper .slick-prev {
  margin-left: -45px;
}

.mv360tour-menu-wrapper .slick-next {
  margin-left: 5px;
}

.mv360tour-public-shortcode {
  position: relative;
}

.mv360tour-public-shortcode::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.admin-bar .mv360tour-title-scene {
  top: 32px;
}

.admin-bar .mv360tour-menu-btn-close {
  top: 57px;
}

.admin-bar .mv360tour-public-shortcode .mv360tour-title-scene {
  top: 0;
}

.admin-bar .mv360tour-public-shortcode .mv360tour-menu-btn-close {
  top: 8px;
}


.mv360tour-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 55px;
  background-color: #0F6A6F;
  color: #fff;
  display: none;
  z-index: 9999;
}

.mv360tour-video-controls.is-visible {
  display: block;
}

.mv360tour-pano__edit__preview > .mv360tour-video-controls {
  top: auto;
  height: auto;
  box-sizing: border-box;
}

.mv360tour-video-controls-progress-fill {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
}

.mv360tour-video-controls-progress-background {
  width: 100%;
  border: 1px solid #fff;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.mv360tour-video-controls-indicators {
  margin-top: 5px;
}

.mv360tour-video-controls-current-time-indicator {
  display: inline-block;
}

.mv360tour-video-controls-current-time-indicator::after {
  content: '/';
  display: inline-block;
  margin: 0 5px;
}

.mv360tour-video-controls-duration-indicator {
  display: inline-block;
}

.mv360tour-video-controls-play-pause {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.mv360tour-video-controls-play-pause::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #000;
}

.mv360tour-video-controls-play-pause.is-pause::before {
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  width: 4px;
  height: 15px;
  border: none;
  background-color: #0F6A6F;
}

.mv360tour-video-controls-play-pause.is-pause::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  width: 4px;
  height: 15px;
  background-color: #0F6A6F;
}

.mv360tour-video-controls-play-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
  border-radius: 5px;
  z-index: 10000;
  display: none;
}

.mv360tour-video-controls-play-mobile.is-open {
  display: block;
}

.mv360tour-video-controls-play-mobile span {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

.mv360tour-video-controls-play-mobile span::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000;
}

.mv360tour-video-controls-mute {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #fff;
  background-image: url(../../includes/icons/volume-audio.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  cursor: pointer;
}

.mv360tour-video-controls-mute.is-mute {
  background-image: url(../../includes/icons/volume-mute.svg);
}

.mv360tour-hidden {
  display: none !important;
}

/* CUSTOM ROOM SIZE  */
.room-size {
  max-width: 100%;
  height: 40px;
  background: rgba(0,0,0,0.1);
  position: absolute;
  top: 110px;
  left: 30px;
  padding: 7px 15px;
  content: 'Room is 30 sqm';
  display: flex;
}
.room-size__icon {
  width: 40px;
  height: 33px;
  margin-right: 15px;
  margin-top: 4px;
}
.room-size__copy {
  font-family: 'CircularStd-Book';
  font-size: 16px;
  color: white;
  text-align: left;
  line-height: 40px;
}
/*  */

/* PULSATING RING ANIMATION */
.lds-ripple {
  display: inline-block;
  width: 64px;
  position: absolute;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(-11px, -11px);
  z-index: -1;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #FFF;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -1s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
/* END OF PULSATING RING ANIMATION */

.mv360tour-hotspot__title.mv360tour-hotspot__title--scene {
  color: #0F6A6F !important;
}

span.border-helper {
  display: inline;
  padding-bottom: 4px;
  border-bottom: 2px solid #0F6A6F;
}

.start-overlay {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.start-overlay.overlay-hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none !important;
}

.drag-img-overlay {
  background-image: url('../../includes/icons/drag.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 160px;
  height: 164px;
  margin-top: -160px;
  transition: all 0.5s ease-out;
}

/*  */
#gradient-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  display: block;
  z-index: 2;
}

.vt-property-logo {
  height: 30px;
}
.vt-separator {
  margin: 0 20px;
}
.vt-menu-list-property-logo {
  width: 200px;
  height: auto;
  margin-top: 15%;
  margin-bottom: 50px;
}

.list-item-hidden {
  display: none !important;
}

.mv360tour-menu-wrapper ul {
  margin-bottom: 10%;
}


@media screen and (max-width:1024px) {
  /* .mv360tour-hotspot {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
  } */
}

@media screen and (max-width:1024px) {
  .mv360tour-menu-wrapper {
    padding: 0 10px;
  }
  .vt-property-logo, .vt-separator, .mv360tour-controls {
    display: none;
  }
  .start-overlay {
    top: 50px;
  }
  .mv360tour-title-scene {
    height: 50px;
  }
  .mv360tour-title-scene span {
    font-size: 18px;
    line-height: 24px;
    font-family: 'CircularStd-Book';
  }
  .mv360tour-menu-btn {
    width: 20px;
    left: 17px;
  }
  .admin-bar .mv360tour-menu-btn-close, .mv360tour-menu-btn-close {
    top: 12px !important;
  }
  .mv360tour-menu-wrapper ul li {
    padding: 8px 0;
    font-size: 18px;
    line-height: 24px;
  }
  #gradient-bar {
    height: 75px;
    pointer-events: none;
  }
  .vt-menu-list-property-logo {
    padding-top: 100px;
    margin-top: 0;
    pointer-events: none;
  }

  .mv360tour-hotspot__container {
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 0.85) !important;
  }

  .mv360tour-hotspot__container--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    transition: all 0.5s ease;
  }

  .mv360tour-hotspot__container__remove {
    top: 20px;
    right: 20px;
  }
}

@media screen and (max-width:600px) {
  .mv360tour-menu-wrapper {
    padding: 0 10px;
  }
}
